/* Styles only applied when building with Granite */
/* Granite.init() automatically applies stylesheet named "Application.css" */

/* Inspired from https://github.com/elementary/granite/pull/853 */
/* TODO Remove this class when elementary SDK bundles a new release of Granite that includes the above fix */
.toolbar {
    border-spacing: 0.5rem;
    padding: 0.5rem;
}

/* Workaround for a bug that the heading label is not aligned along with the description label in a popover */
/* Upstream issue: https://github.com/elementary/stylesheet/issues/1244 */
/* TODO Remove this class when elementary SDK bundles a new release of stylesheet that includes an actual fix */
popover.background > contents label.heading {
    margin: 0;
}
